.hexagon polygon {
  fill:rgb(113, 242, 214);
  stroke: #fff;
  stroke-width: 3px;
  transition: all 0.3s ease;
}

.outer polygon {
  fill: rgb(99, 220, 194);
}

.clickable polygon {
  animation: pulse 1s infinite;
  cursor: pointer;
}

.outer:hover polygon, .clickable:hover polygon {
  fill:rgb(251, 111, 158);

}

.outer.selected polygon {
  fill: rgb(255, 199, 44)
}



.hexagon .B {
  fill: #222;
}

.hexagon .W {
  fill: antiquewhite;
}

@keyframes pulse {
  0% {
    fill:rgb(113, 242, 214);
  }

  50% {
    fill:rgb(146, 255, 231);
  }


  100% {
    fill:rgb(113, 242, 214);
  }
}
